@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:300,400|Dosis:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$link-color: #2bbc8a; // slateblue

.heading {
    margin-top: 100px;
    color: #ffffff;
    //margin-top: -20px;
    margin-left: 50px;
    font-size: 1.4rem;
    // font-family: 'Roboto Mono', monospace;
    font-family: "Menlo", "Meslo LG", monospace;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
   
    @keyframes fadeInAnimation { 
      0% { 
          opacity: 0; 
      } 
      100% { 
          opacity: 1; 
      }
    } 
  
    @media only screen and (max-width: 600px) {
      font-size: 1rem;
      margin-top: 0px;
      display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .number-about {
        font-size: 1.2rem;
        color: $link-color;
    }
}

.about-me {
    // font-family: "Source Sans Pro", sans-serif;
    font-family: "Menlo", "Meslo LG", monospace;
    color: #a3a3a3;
    font-weight: lighter;
    margin-left: 50px;
    font-size: 18px;
    max-width: 600px;
    margin-inline-end: 100px;
    
    @media only screen and (max-width: 600px) {
        font-size: 0.9rem;
       // margin-inline-end: 0px;
       // margin-left: 20px;
       display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

.about-me-bold {
    // font-family: "Source Sans Pro", sans-serif;
    font-family: "Menlo", "Meslo LG", monospace;
    color: #a3a3a3;
    font-weight: bold;
    margin-left: 50px;
    font-size: 1.4rem;
    max-width: 600px;
    margin-inline-end: 150px;

    @media only screen and (max-width: 600px) {
        font-size: 1.1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

.contain1 {
    display: inline-block;
    margin-bottom: 150px;

    @media only screen and (max-width: 600px) {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        margin-bottom: 50px;

        #no-mob {
            display: none;
        }
      }
  }

.me {
  
    display: inline-block;
    vertical-align : 30px;
    width: 300px;
    margin-bottom: 30px;
    margin-left: 100px;

    @media only screen and (max-width: 600px) {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
}

.bold-blue {
    color: $link-color;
    // font-family: "Source Sans Pro", sans-serif;
    font-family: "Menlo", "Meslo LG", monospace;
    text-decoration: none;
    font-weight: bold;
}

.bold-yellow {
    color: yellow;
    font-weight: bold;
    // font-family: "Source Sans Pro", sans-serif;
    font-family: "Menlo", "Meslo LG", monospace;
    text-decoration: none;


    &:hover {
        color: rgb(255, 230, 0);
    }
}

.bold-white {
    color: white;
    // font-family: "Source Sans Pro", sans-serif;
    font-family: "Menlo", "Meslo LG", monospace;
    text-decoration: none;


    &:hover {
        color: white;
    }
}

.bold-brown {
    color: rgb(230, 149, 84);
    // font-family: "Source Sans Pro", sans-serif;
    font-family: "Menlo", "Meslo LG", monospace;
    text-decoration: none;


    &:hover {
        color: rgb(235, 169, 115);
    }
}

.bold-green {
    color: rgb(33, 236, 33);
    // font-family: "Source Sans Pro", sans-serif;
    font-family: "Menlo", "Meslo LG", monospace;
    text-decoration: none;

    &:hover {
        color: rgb(33, 236, 33);
    }
}

#no-mob {
    display: block;
}

.number-about {
    text-decoration: none;
}