@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:300,400|Dosis:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-style: normal;
    font-family: "Meslo LG";
    src: local("Meslo LG S"), url("./MesloLGS-Regular.ttf") format("truetype");
    font-display: swap;
  }
  

$link-color: #2bbc8a; // slateblue

.about-cert {
   // margin-left: 50px;
    flex: 1;
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'center';
}

// media="print" onload="this.media='all'

.cert-name {
    // font-family: 'Roboto Mono', monospace;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
  //  text-align: left;
    margin-bottom: 5px;
    font-size: 1.35rem;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;

    @media only screen and (max-width: 600px) {
    
    font-size: 1rem;

    }

    &:hover {
        color: $link-color;  
    }
}

.cert-desc {
    // font-family: 'Roboto Mono', monospace;
    font-family: "Source Sans Pro", sans-serif;
    color: #a3a3a3;
    font-size: 0.9rem;
    text-decoration: none;

    &:hover{
        color: #a3a3a3;
    }

    @media only screen and (max-width: 600px) {
    
        font-size: 13px;

        }
}

.heading-cert {
    margin-top: 100px;
    color: $link-color;
    //margin-top: -20px;
   // margin-left: 50px;
    font-size: 2rem;
    // font-family: 'Roboto Mono', monospace;
    font-family: "Source Sans Pro", sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    margin-bottom: 30px;
    margin-left: 22px;
   
    @keyframes fadeInAnimation { 
      0% { 
          opacity: 0; 
      } 
      100% { 
          opacity: 1; 
      }
    } 
  
    @media only screen and (max-width: 600px) {

      font-size: 1.3rem;
      margin-top: 0px;
      display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

.col1 .col2 .col3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;


    @media only screen and (max-width: 600px) {
        margin: 0px;
    }
}

.card {
    min-width: 400px;
    max-width: 500px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #1d1f21;
    border-radius: 4px;
    background-color: #1e2124;
    box-shadow: 6px 6px 3px #18191a ;
    transition: all .2s ease-in-out;

    &:hover {
        box-shadow: 3px 3px 1px #161616 ;

        .cert-name {
        color: $link-color;  
        }
    }
    
    @media only screen and (max-width: 600px) {
        
        margin-bottom: 15px;
        min-width: 300px;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        box-shadow: 3px 3px 2px #161616 ;
    }
}


.cert-container {
    max-width: 1400px;
   // margin-left: 50px;
    margin-bottom: 120px;
    // text-align: center;
  
    @media only screen and (max-width: 600px) {
      margin-bottom: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
    }
  }
  