@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:300,400|Dosis:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.about-cert {
   // margin-left: 50px;
    flex: 1;
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'center';
}

// media="print" onload="this.media='all'

.cert-name {
    font-family: 'Roboto Mono', monospace;
    color: #a6bdbf;
  //  text-align: left;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;

    @media only screen and (max-width: 600px) {
    
    font-size: 16px;
    }

    &:hover {
        color: #2a73cc;  
    }
}

.cert-name-pluralsight {

    font-family: 'Roboto Mono', monospace;
    color: #a6bdbf;
  //  text-align: left;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;


    @media only screen and (max-width: 600px) {
    
    font-size: 16px;
    }

    &:hover {
        color: #ed2265; 
    }
}

.cert-name-girlscript {

    font-family: 'Roboto Mono', monospace;
    color: #a6bdbf;
  //  text-align: left;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;


    @media only screen and (max-width: 600px) {
    
    font-size: 16px;
    }

    &:hover {
        color: #ea6f06;  
    }
}

.cert-name-udemy {

    font-family: 'Roboto Mono', monospace;
    color: #a6bdbf;
  //  text-align: left;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;


    @media only screen and (max-width: 600px) {
    
    font-size: 16px;
    }

    &:hover {
        color: #ea5252;
    }
}

.cert-name-google {

    font-family: 'Roboto Mono', monospace;
    color: #a6bdbf;
  //  text-align: left;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;

    @media only screen and (max-width: 600px) {
    
    font-size: 16px;
    }

    &:hover {
        color: #f5ce07;
    }
}

.cert-desc {
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    font-size: 19px;

    &:hover{
        color: #ffffff;
    }

    @media only screen and (max-width: 600px) {
    
        font-size: 13px;
        }
    
    
  //  text-align: left;
}

.heading-cert {
    margin-top: 100px;
    color: #ffffff;
    //margin-top: -20px;
   // margin-left: 50px;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    margin-bottom: 30px;
   
    @keyframes fadeInAnimation { 
      0% { 
          opacity: 0; 
      } 
      100% { 
          opacity: 1; 
      }
    } 
  
    @media only screen and (max-width: 600px) {
      font-size: 1.7rem;
      margin-top: 0px;
      display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .number-about {
        font-size: 1.4rem;
        color: #007fff;
    }
}

.col1 .col2 .col3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;


    @media only screen and (max-width: 600px) {
        margin: 0px;
    }
}

.card {
    min-width: 500px;
    max-width: 550px;
    margin: 20px;
    box-shadow: "0px 20px 30px 3px rgba(0, 0, 0, 0.55)";
    

    @media only screen and (max-width: 600px) {
        
        margin-bottom: 15px;
        min-width: 300px;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}
