.cent-line {
    margin-top: 100px;
    color: rgb(84, 213, 187);
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    transition: color .2s ease-out;
    text-align: center;

    &:hover {
        transition: all .3s ease-in-out;
        color: #ffffff;
    }
  
    @media only screen and (max-width: 600px) {
        font-size: 1.7rem;
        margin-top: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}