$link-color: #2bbc8a; // slateblue
@font-face {
    font-style: normal;
    font-family: "Meslo LG";
    src: local("Meslo LG S"), url("./MesloLGS-Regular.ttf") format("truetype");
    font-display: swap;
  }
  
.cent-line {
    margin-top: 200px;
    color: $link-color;
    font-size: 1.6rem;
    // font-family: 'Roboto Mono', monospace;
    font-family: "Menlo", "Meslo LG", monospace;
    transition: color .2s ease-out;
    text-align: center;

    &:hover {
        transition: all .3s ease-in-out;
        color: $link-color;
    }
  
    @media only screen and (max-width: 600px) {
        font-size: 1rem;
        margin-top: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

.logos {
    display: block;
    text-align: center;
}

.logoc {
    width: 40px;
    padding: 15px;
    transition: all .3s ease-in-out;
    margin: 10px;
    vertical-align: middle;

    &:hover {
        transition: all .3s ease-in-out;
        color: #ffffff;
    }

    @media only screen and (max-width: 600px) {
        padding: 0px;
        width: 22px;
    }
}
