$link-color: #2bbc8a; // slateblue
@font-face {
    font-style: normal;
    font-family: "Meslo LG";
    src: local("Meslo LG S"), url("./MesloLGS-Regular.ttf") format("truetype");
    font-display: swap;
  }
  
.intro1 {
    // font-family: 'Roboto Mono', monospace;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 0px;
    // text-align: center;
    display: block;
    color: #2bbc8a;

    @media only screen and (max-width: 600px) {
        margin-top: 0px;
        font-size: 1rem;
        width: 95%;
        text-align: center;
        color: white;
    }
}

.links {
    color: #2bbc8a;
    margin-left: 883px;
    margin-top: -45px;
    display: block;

    @media only screen and (max-width: 600px) {
        margin-left: 0px;
        margin-top: 50px;
        display: none;
    }
}

.footer-container {
    margin-bottom: 50px;
}


$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.arrow-link-1 {
    margin: 10px;
    text-decoration: none;
    color: $link-color;
    font-weight: 600;
    display: inline-block;
    // padding: 0px 7px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    
    &:hover {
        transition: all .3s ease-out;
        box-shadow:  0 -2px 0 0 $link-color inset ;
      }
  }

.favicon-again {
    display: none;

    @media only screen and (max-width: 600px) {
        margin-right: 19px;
        display: block;
        text-align: center;
        
    }

}