$link-color: #2bbc8a; // slateblue
@font-face {
    font-style: normal;
    font-family: "Meslo LG";
    src: local("Meslo LG S"), url("./MesloLGS-Regular.ttf") format("truetype");
    font-display: swap;
  }
  
.intro1 {
    // font-family: 'Roboto Mono', monospace;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 0px;
    // text-align: center;
    display: block;
    color: #2bbc8a;

    @media only screen and (max-width: 600px) {
      margin-top: 10px;
      font-size: 0.8rem;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

.links {
    color: #2bbc8a;
    margin-left: 883px;
    margin-top: -45px;

    @media only screen and (max-width: 600px) {

        margin-left: 0px;
        
    }

}

.footer-container {
    margin-bottom: 50px;
}

.arrow-link {
    margin: 10px;
    text-decoration: none;
    color: $link-color;
    font-weight: 600;
    display: inline-block;
    // padding: 0px 7px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    
    &:hover {
        
    }
  }
