.intro1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    align-items: center;
    font-weight: normal;
    line-height: 0px;
    text-align: center;
    display: block;
    color: rgb(84, 213, 187);

    @media only screen and (max-width: 600px) {
      margin-top: 10px;
      font-size: 0.8rem;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

.cont {
    color: #FFFfff;
    margin-bottom: 40px;
    transition: all .3s ease-in-out;
    margin-top: 200px;

    @media only screen and (max-width: 600px) { 
        margin-bottom: 20px;
    }

    &:hover {
        color: #007fff;
    }
}