@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// .color-nav {
//     background-color: #0a192f;
// }

// .nav {
//     margin-top: 20px;
//     font-family: 'Roboto Mono', monospace;
//     width: 100%;
//     float: left;
//     padding: 0;
//     list-style: none;
//     position: fixed;
//     top: 0;
//     }

// .nav li {
//     float: left; 
// }

// .nav li a {
//         display: block;
//         padding: 8px 15px;
//         text-decoration: none;
//         font-weight: normal;
//         color: #a6bdbf;

//     &:hover {
//         color: #007FFF;
//     }
// }

.logo {
    color: #a6bdbf;
    font-family: 'Lobster', cursive;
    font-weight: lighter;

    &:hover {
        color: #ffffff;
    }

}


a {
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;

    &:hover {
        color: #007fff;    
    }

  }

  
  /* header */
  
  .header {
    
    transition: top 0.5s;
  //  margin-left: 15px;
    background-color: #0a192f;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
    max-width: 1300px;
    position: fixed;
    width: 100%;
    z-index: 3;
  

    @media only screen and (max-width: 600px) {
        margin-left: 0px;
    }
  }

  .header ul {
    
    
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  //  background-color: #0a192f;
  }
  
  .header li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
//    background-color: #0a192f;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
    
  }
  
  .header .menu-btn:checked ~ .menu {
    margin-right: auto;
    //width: 35%;
    max-height: 350px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
    
    
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    
    
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
      
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
      
    }
    .header .menu-icon {
      display: none;
      
    }
  }
  

  .resume {
    color: #007FFF; 
    font-weight: bold;
    border: #007FFF;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

    background-color: #0a192f;
    color: #007FFF; 
    border: 2px solid #007FFF;
    border-radius: 4px;

    @media only screen and (max-width: 600px) {    
        margin-left: 20px ;
      font-size: 12px;
    }

    &:after {
      position: relative;
      bottom: 0.2ex;
      border: 2px solid #007FFF;
      color: #007fff;
      font-family: "FontAwesome";
      font-size: 1.5rem;
      display: inline-block;
      vertical-align: middle;
      -webkit-transition: all .15s ease-in-out;
    }

    &:hover {
      background-color: rgba(100, 180, 255, 0.07);
      color: #007FFF;
    }

    &:hover:after {
      transform: translateX(7px);
    }
  }

  .res {
      text-decoration: none;
  }
