$link-color : #2bbc8a;

.proj-page {
    margin-bottom: 200px;

    @media only screen and (max-width: 600px) {
    
        margin-bottom: 50px;
    }

}

.heading-proj {
    margin-top: 100px;
    color: $link-color;
    font-size: 2rem;
    font-family: "Source Sans Pro", sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    margin-bottom: 30px;
    margin-left: 10px;
   
    @keyframes fadeInAnimation { 
      0% { 
          opacity: 0; 
      } 
      100% { 
          opacity: 1; 
      }
    } 
  
    @media only screen and (max-width: 600px) {

        font-size: 1.3rem;
        margin-top: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

.arrow-link-2 {

    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 1.55rem;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;    
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    
    &:hover {
        transition: all .3s ease-out;
        color: white;
      }

    @media only screen and (max-width: 600px) {
        font-size: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    
    }
  }

.proj-desc-container {
    margin-top: 10px;

    @media only screen and (max-width: 600px) {
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

.proj-desc {
    margin-left: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.25rem;
    color: #afaeae;
    font-weight: lighter;
    margin-bottom: 5px;
  
    @media only screen and (max-width: 600px) {
      margin-inline-end: 0px;
      font-size: 0.9rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
    }
}



.project {
    margin-bottom: 35px;
}

.proj-desc-tool {
    color: $link-color; 
    border: $link-color;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    max-width: 140px;
    display: inline-block;
    padding: 3px;
    margin-right: 8px;

    border: 2px solid $link-color;
    border-radius: 4px;
    transition: all .3s ease-in-out;

    @media only screen and (max-width: 600px) {    
        font-size: 12px;
        // display: block;
        margin-left: auto;
        margin-right: auto;
        margin-right: 5px;
    }
}

.proj-desc-tool-container {
    margin-left: 30px;
    margin-top: 5px;
    white-space: nowrap;

    @media only screen and (max-width: 600px) {
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@keyframes slide {
    0% {
      left: 0;
      top: 0;
    }
    100% {
      right: 10px;
    }
  }

.arrow__1 {
    color: #afaeae;
    transition: all .3s ease-in-out;

    &:hover {
        color: #ffffff;
        animation-name: slide;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: .5s;    }
}