.logo {
  width: 80px;
}

.heading{
  margin-top: 120px;
}

.about-me-bold1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #a6bdbf;
  font-weight: bold;
  margin-left: 50px;
  font-size: 30px;
  max-width: 800px;
  margin-inline-end: 150px;

  @media only screen and (max-width: 600px) {
      font-size: 23px;
      margin-inline-end: 0px;
      margin-left: 20px;
  }
}

.logo-container {
  max-width: 800px;
  margin-left: 50px;
  margin-bottom: 450px;

  @media only screen and (max-width: 600px) {
    margin-bottom: 120px;
    margin-left: 20px;
}
}

