@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

$link-color: #2bbc8a; // slateblue
@font-face {
  font-style: normal;
  font-family: "Meslo LG";
  src: local("Meslo LG S"), url("./MesloLGS-Regular.ttf") format("truetype");
}

.logo {
  width: 70px;
  padding: 15px;
  transition: all .3s ease-in-out;
  margin: 10px;
  vertical-align: middle;
  -webkit-filter: grayscale(100%);
  filter: grayscale(0%);

  &:hover {
    filter: grayscale(0%);
  }

  @media only screen and (max-width: 600px) {
    padding: 0px;
    width: 60px;
  }
}

//  filter: sepia(100%) hue-rotate(190deg) saturate(500%);

.heading{
  margin-top: 120px;

  @media only screen and (max-width: 600px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

.about-me-bold1 {
  // font-family: "Source Sans Pro", sans-serif;
  font-family: "Menlo", "Meslo LG", monospace;
  color: #a3a3a3;
  font-weight: bold;
  margin-left: 50px;
  font-size: 1.3rem;
  max-width: 1000px;
  margin-inline-end: 150px;

  @media only screen and (max-width: 600px) {
      font-size: 1.05rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
  }
}

.logo-container {
  max-width: 1400px;
 // margin-left: 50px;
  margin-bottom: 250px;


  @media only screen and (max-width: 600px) {
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.logo1 {
  width: 70px;
  height: 120px;
  padding: 20px;
  transition: all .3s ease-in-out;
  margin: 10px;
  vertical-align: middle;
  -webkit-filter: grayscale(100%);
  filter: grayscale(0%);

  &:hover {
    filter: grayscale(0%);
  }

  @media only screen and (max-width: 600px) {
    padding: 0px;
    width: 60px;
    size: 70%;
    height: auto;
    filter: grayscale(0%);
  }
}

.skill-top {
  margin-top: 100px;

  @media only screen and (max-width: 600px) {
    margin-top: 0px;
  }
}